<html>
    <head>
    <title>Invest On Health</title>
        <link rel="stylesheet" type="text/css" href="home.css">
<!--        <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,width=device-width">-->
<!--        <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    </head>   
    <body>
        <div id="home" class="home">
            <div class="row">
                <div class="col-xs-6 col-md-6">
                <img class=" heart" src="heart.svg">
                </div>   
                <div class="col-xs-1 col-md-1" style="padding-top:5vh;">
                    <a class="process" href="#process">Process</a>
                </div>
                <div class="col-xs-2 col-md-2" style="padding-top:5vh;">
                    <span class="process">Testimonials</span>
                </div>
                <div class="col-xs-1 col-md-1" style="padding-top:5vh;">
                    <span class="process">Pricing</span>
                </div>
                <div class="col-xs-1 col-md-1" style="padding-top:5vh;">
                    <span class="process">Contact</span>
                </div>    
                
            </div>
            <div class="row">
                <div class="col-xs-6 col-md-6">
                    <div class="text">
                        We provide solution to
                    <br/>
                        manage obesity & other
                        <br/>
                        chronic health condition
                    </div>  
                    <div class="row">
                        <img class="letsgo" src="letsgo.svg">
                        <img class="knowmore" src="knowmore.svg">
                    </div>  
                </div>
                <div  class="col-xs-6 col-md-6">
                    <img class="phone" src="phone.svg">
                </div> 
            </div>
            <div >
                <img style="margin-left:5vw;margin-bottom:8vh" src="apple.svg">
                <img style="margin-left:3vw;margin-bottom:8vh" src="android.svg">
            </div>    
        </div>
        <div id="process">
            <div class="row" style="margin:1vw;">
                <a href="#home"> <img src="bar.svg"> </a>
            </div> 
            <div class="row" style="text-align: center;">
                <p class="titles">Our Process</p>
            </div>
             <div class="row" style="text-align: center;">
                <p class="contents">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices risus <br/>vel sodales convallis. Mauris cursus risus non diam ultrices convallis.<br/> Sed mollis metus a cursus interdum.</p>
            </div>
            <div class="row" >
                <img style="margin-left:5%" src="pyramid.svg">
                <img style="margin-left:5%" src="line.svg">
                <img style="margin-left:5%" src="edit.svg">
                <img style="margin-left:5%" src="line.svg">
                <img style="margin-left:5%" src="rectangle.svg">
                <img style="margin-left:5%" src="line.svg"> 
                <img style="margin-left:5%" src="doctor.svg">
                <img style="margin-left:5%" src="line.svg">
                <img style="margin-left:5%" src="success.svg">
            </div>
            <div class="goal">Goal Setting</div>
            <div style="margin-left:5%;margin-bottom:5%;">Lorem ipsum dolor sit amet, consectetur <br/> adipiscing elit. Integer ultrices risus vel<br/> sodales convallis. Mauris cursus risus non <br/> diam ultrices convallis. Sed mollis metus a <br/> cursus interdum.</div> 
        </div>
        <div id="team">
            <div style="margin:1vw;">
            <img src="bar.svg">    
            </div>
            <div class="row" style="text-align: center;"><p class="titles">The Team</p></p></div> 
            
        </div>    
<!--        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>-->
    </body>    
</html>    